.bookings-fs {
    box-shadow: 0 3px 3px 3px #0003;
    border-radius: 12px;
    padding: 20px;
}

h2 {
    text-align: center;
    padding: 12px;
}

.reservas-form {
    background: #FFF;
}


input.wrong-input,
select.wrong-input {
    border: 2px solid red;
}

input.right-input,
select.right-input {
    border: 2px solid green;
}