main {
    padding: 0 2rem;
}


h2 {
    text-align: start;
    padding: 0;
}

.admin-section {
    border-bottom: 1px solid #636262;
    margin-bottom: 2rem;
    padding: 1rem 0.5rem;
    width: 100vh;
}

.container-fluid {
    padding-left: 2rem;
}