main {
    padding-left: 0;
    padding-right: 0;
}


h2 {
    text-align: start;
    padding: 0;
}

.admin-section {
    border-bottom: 1px solid #63626233;
    margin-bottom: 2rem;
    padding: 0 0 2rem 1rem;
    width: 100vw;
}

.container-fluid {
    padding-left: 2rem;
}