.contact-fs {
    box-shadow: 0 3px 3px 3px #0003;
    border-radius: 12px;
    padding: 20px;
}

h2 {
    text-align: center;
    padding: 12px;
}

.contacto-form{
    background-color: rgb(255, 255, 255);
}